ajax/demo/src/main/app/ajax_demo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
	
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ajax:connector name="Ajax" serverUrl="http://localhost:8090/mule/chat"
		jsonCommented="true" doc:name="Ajax" resourceBase="${app.home}/www"/>

	<flow name="AjaxChat" doc:name="AjaxChat">
	    <ajax:inbound-endpoint channel="/services/input"  doc:name="Ajax" responseTimeout="10000"  mimeType="text/plain" connector-ref="Ajax"/>
        <logger message="#[payload:]" level="INFO" doc:name="Logger"/>
        <ajax:outbound-endpoint channel="/services/output" responseTimeout="10000" doc:name="Ajax" connector-ref="Ajax"/>
	</flow>
</mule>
