vm/demo/src/main/app/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.0"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/current/mule-stdio.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="file_component" doc:name="file_component">
        <file:inbound-endpoint path="/Users/arbuzworks/tmp/input" pollingFrequency="3000" responseTimeout="10000" mimeType="text/xml" doc:name="Input File"/>
        <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT" xsl-file="/Users/arbuzworks/tmp/xsl/addresses.xsl"/>
        <vm:outbound-endpoint exchange-pattern="one-way" responseTimeout="10000" doc:name="VM" mimeType="text/plain" path="xsl.mesg"/>
    </flow>
    <flow name="vm_flow" doc:name="vm_flow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="xsl.mesg" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <file:outbound-endpoint path="/Users/arbuzworks/tmp/output" outputPattern="myfile#[function:datestamp].txt" responseTimeout="10000" doc:name="Output File"/>
    </flow>
</mule>