ssl/demo/src/main/app/ssl_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ssl="http://www.mulesoft.org/schema/mule/ssl" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ssl http://www.mulesoft.org/schema/mule/ssl/current/mule-ssl.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <ssl:connector name="sslConnector" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="SSL (TLS)">
        <ssl:client path="${sslkey.path}" storePassword="${sslkey.password}"/>
        <ssl:key-store path="${sslkey.path}" keyPassword="${sslkey.password}" storePassword="${sslkey.password}"/>
        <ssl:server path="${sslkey.path}" storePassword="${sslkey.password}"/>
    </ssl:connector>
    <flow name="ssl_server" doc:name="ssl_server">
        <ssl:inbound-endpoint host="localhost" port="8082" responseTimeout="10000" connector-ref="sslConnector" doc:name="SSL (TLS)"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="SSL Logger: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ssl_client" doc:name="ssl_client">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8081" path="client" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties['message']]" doc:name="Set Payload"/>
        <ssl:outbound-endpoint host="localhost" port="8082" responseTimeout="10000" connector-ref="sslConnector" doc:name="SSL (TLS)"/>
    </flow>
</mule>