tcp/demo/src/main/app/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <tcp:polling-connector name="TCP_Polling" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="TCP Polling">
        <tcp:direct-protocol payloadOnly="true"/>
    </tcp:polling-connector>
    
	<tcp:connector name="TCP" doc:name="TCP connector" clientSoTimeout="10000" 
	receiveBacklog="0" receiveBufferSize="0" sendBufferSize="0" serverSoTimeout="10000" 
	socketSoLinger="0" validateConnections="true">
	    <tcp:direct-protocol payloadOnly="true"/>
	</tcp:connector>
	
    <flow name="Polling" doc:name="Polling">
        <tcp:inbound-endpoint exchange-pattern="request-response" host="ota.iambic.com" port="17" responseTimeout="10000" connector-ref="TCP_Polling" doc:name="TCP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="Echo" doc:name="Echo">
        <tcp:inbound-endpoint connector-ref="TCP" exchange-pattern="request-response" host="localhost" port="4444" responseTimeout="10000" doc:name="TCP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value="Hello #[payload]" doc:name="Set Payload"/>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
    </flow>

</mule>
