jetty/demo/src/main/app/jetty_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/current/mule-jetty.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
        
    <flow name="JettyHello" doc:name="JettyHello">
        <jetty:inbound-endpoint exchange-pattern="request-response" address="http://localhost:8090/hello" mimeType="text/plain" doc:name="Jetty"/>
        <logger message="Param name is: #[header:INBOUND:name]" level="INFO" doc:name="Logger"/>
        <set-payload value="Hello, #[header:INBOUND:name]!" doc:name="Set Payload"/>
    </flow>
    
    <flow name="JettyStatic" doc:name="JettyStatic">
        <jetty:inbound-endpoint exchange-pattern="request-response" address="http://localhost:8090/static" doc:name="Jetty"/>
        <http:static-resource-handler resourceBase="${app.home}/www"  defaultFile="index.html"/>
    </flow>
    
</mule>
